# Import

In [1]:
from script.tool import ROOT_NFS_DATA, scan_directory
import os
import pandas as pd
import numpy as np

# Scan new image to dataframe

In [2]:
new_data_image_path = ROOT_NFS_DATA / 'Cosmenet_uat_20231108' / 'datas_image_from_db_uat'
old_data_path = ROOT_NFS_DATA / 'Cosmenet_product_20231018' / 'datas_20231018.csv'

In [3]:
df_old_data = pd.read_csv(old_data_path)

In [4]:
df_new_data_image = scan_directory(new_data_image_path, filter_blacklist=False, show_log=True)

amount of all image : 34836

In [5]:
df_new_data_image.head(1)

,images_path,file_names,labels
0,/app/nfs_clientshare/Datasets/Cosmenet_uat_202...,Kiko-Milano-Floral-Wonderland-Nail-Lacquer-001...,46838

In [6]:
df_old_data.head(1)

     file_names  labels                                        images_path
0  14624_14.jpg   14624  /app/nfs_clientshare/Datasets/Cosmenet_product...

In [7]:
def check_name_duplicate(arr1, arr2):
    ls_duplicate = np.intersect1d(arr1, arr2)
    if len(ls_duplicate) == 0:
        return 'not have duplicate file'
    else:
        return ls_duplicate

In [8]:
duplicate_file = check_name_duplicate(df_new_data_image.file_names.values, df_old_data.file_names.values)
print(duplicate_file)

not have duplicate file

In [9]:
df_new_data_image.to_csv(ROOT_NFS_DATA / 'Cosmenet_uat_20231108' / 'data_search.csv', index=False)

In [10]:
test = pd.read_csv(ROOT_NFS_DATA / 'Cosmenet_uat_20231108' / 'data_search.csv')
test.head(1)

,images_path,file_names,labels
0,/app/nfs_clientshare/Datasets/Cosmenet_uat_202...,Kiko-Milano-Floral-Wonderland-Nail-Lacquer-001...,46838